<!DOCTYPE html>
<html th:fragment="layout(title, links, scripts)" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:replace="${links}" rel="stylesheet" type="text/css" href="../css/StylesInvertedTable.css"/>
    <title th:replace="${title}">Discounts</title>
    <script th:replace="${scripts}"></script>
</head>
<body>
<div th:fragment="mainDivDiscounts" id="mainDivDiscounts">
    <table>
        <caption>Discounts</caption>
        <tr>
            <th>Percentage</th>
            <th>Expires on</th>
            <th></th>
        </tr>
        <tr th:each="iterDiscount: ${discounts}">


            <td th:text="|${#numbers.formatInteger(iterDiscount.discountCoefficient * 100, 1)}%|"></td>
            <td th:text="${iterDiscount.validUntilDate}"></td>
            <td></td>
        </tr>

        <tr>
            <form method="post" action="airhermes/discounts">
                <td><input type="number" min="1" max="100" name="coefficient" required/><span>%</span></td>
                <td><input type="datetime-local" name="validUntilDate" required/></td>
                <td><input type="submit" value="Save new discount"/></td>
            </form>
        </tr>
    </table>
    <p class="greska" th:text="${errorMessage}"></p>
</div>
</body>
</html>