#navContent {
    width: 98%;
    padding: 10px;
    margin: auto;
    background-color: midnightblue;
}

#navContent > *{
    display: inline-block;
}

#navContent a, .floatRight {
    padding: 10px;
    background-color: white;
    text-decoration: none;
}

.floatRight {
    float: right;
}


input[type="submit"] {
    background-color: lightgrey;
    border: 1px solid lightorange;
}