<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title}, ~{::link}, ~{::script}, ~{::centralniDiv})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:fragment="link" rel="stylesheet" type="text/css" th:href="@{/css/StiloviForma.css}"/>
    <title th:fragment="title" th:text="#{data.profile}"></title>
    <script th:fragment="script" src=""></script>
</head>
<body>
<div th:fragment="centralniDiv">
<!--    <form method="post" th:action="|edit/${user.name}|">-->
    <form method="post" th:action="@{/users/edit}">
        <table class="forma">
            <caption th:text="#{data.userData}"></caption>
            <tr><th th:text="#{data.nameOfPerson}"></th><td><input type="text" name="name" th:value="${user.name}"/></td></tr>
            <tr><th th:text="#{data.lastName}"></th><td><input type="text" name="surname" th:value="${user.surname}"/></td></tr>
            <tr><th th:text="#{data.username}"></th><td><input type="text" name="username" th:value="${user.username}"/></td></tr>
            <tr><th th:text="#{data.email}"></th><td><input type="email" name="email" th:value="${user.email}"/></td></tr>
            <tr><th th:text="#{data.dateOfBirth}"></th><td><input type="datetime-local" name="dateOfBirth" th:value="${user.dateOfBirth}"/></td></tr>

            <tr><th></th><td><input type="submit" th:value="#{action.saveChanges}"/></td></tr>
        </table>
    </form>

<!--    <form method="post" th:action="|changePassword/${user.name}|">-->
    <form method="post" th:action="@{/users/changePassword}">
        <table class="forma">
            <caption th:text="#{data.changePassword}"></caption>
            <tr><th th:text="#{data.passwordNew}"></th><td><input type="password" name="password"/></td></tr>
            <tr><th th:text="#{data.passwordRepeated}"></th><td><input type="password" name="repeatedPassword"/></td></tr>
            <p class="greska" th:if="${poruka != null}" th:text="${#messages.msg(poruka)}"></p>

            <tr><th></th><td><input type="submit" th:value="#{action.saveChanges}"/></td></tr>
        </table>
    </form>

<!--    <form method="post" action="">-->
        <p th:unless="${not #lists.isEmpty(reservationDTOs)}" th:text="#{message.noReservations}"></p>
        <table class="tabela" th:if="${not #lists.isEmpty(reservationDTOs)}">
            <caption th:text="#{data.myReservations}"></caption>
            <tr>
                <th th:text="#{data.flightId}"></th>
                <th th:text="#{data.departures}"></th>
                <th th:text="#{data.destinations}"></th>
                <th th:text="#{data.departureTime}"></th>
                <th th:text="#{data.bookedTime}"></th>
                <th th:text="#{data.totalPrice}"></th>
                <th th:text="#{data.flightOn}"></th>
            </tr>
            <tr th:each="iter, status: ${reservationDTOs}">
                <td th:text="${iter.flightId}"></td>
                <td th:text="${iter.airportDepartureCodeName}"></td>
                <td th:text="${iter.airportDestinationCodeName}"></td>
                <td th:text="${#dates.format(iter.flightDepartureTimestamp, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#dates.format(iter.reservationCreationTimestamp, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="|${iter.reservationSumPriceOfAllTickets} RSD|"></td>
                <td th:text="${iter.cancelled}? '❌': '✅'"></td>
            </tr>
        </table>
<!--    </form>-->

        <p th:unless="${not #lists.isEmpty(wishlist)}" th:text="#{message.noWishes}"></p>
        <table th:if="${not #lists.isEmpty(wishlist)}">
            <caption th:text="#{data.myWishlist}"></caption>

            <tr>
                <th></th>
                <th th:text="#{data.flightId}"></th>
                <th th:text="#{data.departures}"></th>
                <th th:text="#{data.destinations}"></th>
                <th th:text="#{data.departureTime}"></th>
                <th th:text="#{data.price}"></th>
                <th th:text="#{data.duration}"></th>
                <th th:text="#{data.discounts}"></th>
                <th th:text="#{data.soldOut}"></th>
                <th></th>
            </tr>
            <tr th:each="iterFlight, status: ${wishlist}">
                <!--                <td th:value="${status.index + 1}"></td>-->
                <form method="post" th:action="@{/wishlist/remove}">
                    <td><input type="submit" value="❌"/></td>
<!--                    <td th:text="${iterFlight.id}"></td>-->
                    <td><input type="text" th:value="|${iterFlight.id}|" name="flightId" readonly/></td>
                </form>
                <td th:text="|${iterFlight.airportDeparture.airportCodeName}, ${iterFlight.airportDeparture.location.city}, ${iterFlight.airportDeparture.location.state}|"></td>
                <td th:text="|${iterFlight.airportDestination.airportCodeName}, ${iterFlight.airportDestination.location.city}, ${iterFlight.airportDestination.location.state}|"></td>
                <td th:text="${#dates.format(iterFlight.departureTimestamp, 'yyyy-MM-dd HH:mm')}"></td>

                <!--                <td th:inline="text" th:text="|${iterFlight.flightTicketPrice}RSD|"></td>-->
                <td th:inline="text">
                        <span th:if="${iterFlight.discountStandard.discountCoefficient > 0.0}">
                            <s th:text="|${iterFlight.flightTicketPrice} #{currency}|"></s>
                            <span th:text="| ${(1 - iterFlight.discountStandard.discountCoefficient) * iterFlight.flightTicketPrice} #{currency} |"></span>
                        </span>
                    <span th:unless="${iterFlight.discountStandard.discountCoefficient > 0.0}"
                          th:text="|${iterFlight.flightTicketPrice} #{currency}|"></span>
                </td>
                <td th:inline="text" th:text="|${iterFlight.flightDurationMinutes / 60}:${#numbers.formatInteger(iterFlight.flightDurationMinutes % 60, 2)}h|"></td>
                <td th:inline="text" th:text="|${iterFlight.discountStandard.discountCoefficient * 100}%|"></td>
                <!--                <td><a th:href="|flights/details?id=${iterFlight.id}|" th:text="Tickets"></a></td>-->
                <!--                todo add multiple flightIDs when connecting flights are implemented -->

                <td th:text="${iterFlight.soldOut}? '✅': '❌'"></td>
            </tr>
        </table>

        <table class="forma">
            <caption th:text="#{data.myCard}"></caption>
            <tr>
                <th th:if="${loyaltyCard != null}" th:text="#{data.pointsConverted}"></th>
                <th th:if="${loyaltyCard != null}" th:text="#{data.moneyUnconverted}"></th>
                <th th:if="${cardStatus != null and loyaltyCard == null}" th:text="#{data.status}"></th>
                <th th:if="${loyaltyCard == null and (cardStatus == null or #strings.equals(cardStatus, 'DENIED'))}"></th>
            </tr>
            <tr>
                <td th:text="${loyaltyCard.pointsCollected}" th:if="${loyaltyCard != null}"></td>
                <td th:text="|${loyaltyCard.spentMoneyUnconvertedToPoints} #{currency}|" th:if="${loyaltyCard != null}"></td>
                <td th:if="${cardStatus != null and loyaltyCard == null}" th:text="|#{message.requestStatus} ${#messages.msg(cardStatus)}.|"></td>
                <td th:if="${loyaltyCard == null and (cardStatus == null or #strings.equals(cardStatus, 'DENIED'))}">
                    <form method="post" th:action="@{/cards}">
                        <input type="submit" th:value="#{action.requestCard}"/>
                    </form>
                </td>
            </tr>
        </table>

</div>
</body>
</html>