<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/StiloviForma.css}"/>
    <title th:text="#{data.register}"></title>
</head>
<body>
<div th:fragment="centralniDiv">
    <form method="post" th:action="@{/users/register}">
        <table class="forma">
            <caption th:text="#{data.register}"></caption>
            <tr><th th:text="#{data.nameOfPerson}"></th><td><input type="text" name="name"/></td></tr>
            <tr><th th:text="#{data.lastName}"></th><td><input type="text" name="surname"/></td></tr>
            <tr><th th:text="#{data.username}"></th><td><input type="text" name="username"/></td></tr>
            <tr><th th:text="#{data.email}"></th><td><input type="email" name="email"/></td></tr>
            <tr><th th:text="#{data.passwordNew}"></th><td><input type="password" name="password"/></td></tr>
            <tr><th th:text="#{data.passwordRepeated}"></th><td><input type="password" name="repeatedPassword"/></td></tr>
            <tr><th th:text="#{data.dateOfBirth}"></th><td><input type="datetime-local" name="dateOfBirth"/></td></tr>

            <tr><th></th><td><input type="submit" th:value="#{data.register}"/></td></tr>
        </table>
    </form>
    <p class="greska" th:text="${poruka}"></p>
    <ul><li><a th:href="@{/users/login}" th:text="#{action.toLogin}"></a></li></ul>
</div>
</body>
</html>