<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/StiloviTabela.css"/>
    <title th:text="#{data.flightsAndRevenue}"></title>
</head>
<body>
<div th:fragment="centralniDiv">
    <table class="tabela">
        <caption th:text="#{data.flightsAndRevenue}"></caption>
        <tr>
<!--            <th></th>-->
            <th></th>
            <th></th>
            <th th:text="#{data.timeFrom}"></th>
            <th th:text="#{data.timeUntil}"></th>
            <th></th>
        </tr>
        <tr>
<!--            <th></th>-->
            <th></th>
            <th></th>
            <form method="get">
                <th><input type="datetime-local" name="timestampMin" th:value="${param.timestampMin}?: null"/></th>
                <th><input type="datetime-local" name="timestampMax" th:value="${param.timestampMax}?: null"/></th>
                <th><input type="submit" th:value="#{action.report}"/></th>
            </form>
        </tr>
        <tr>
<!--            <th></th>-->
            <th th:text="#{data.flightId}"></th>
            <th th:text="#{data.departureTime}"></th>
            <th th:text="#{data.seatsTotal}"></th>
            <th th:text="#{data.ticketsSold}"></th>
            <th th:text="#{data.flightsAndRevenue}"></th>
        </tr>
        <tr th:each="iterFlight, status: ${flights}">
            <td th:text="${iterFlight.flightId}"></td>
            <td th:text="${#dates.format(iterFlight.departureTimestamp, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${iterFlight.seatsTotal}"></td>
            <td th:text="${iterFlight.seatsSold}"></td>
            <td th:text="|${iterFlight.flightRevenue} #{currency}|"></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Total:</td>
            <td></td>
            <td></td>
            <td th:text="${totalTicketsSold}" style="font-weight: bold;"></td>
            <td th:text="${totalRevenue}?:null" style="font-weight: bold;"></td>
        </tr>
    </table>
</div>
</body>
</html>