<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title}, ~{::link}, ~{::script}, ~{::centralniDiv})}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html th:replace="fragments/base.html :: layout(centralniDiv)">-->
<head>
    <meta charset="UTF-8">
    <link th:fragment="link" rel="stylesheet" type="text/css" href="../css/StylesInvertedTable.css"/>
    <script src="../js/flightSetup.js"></script>
    <title th:fragment="title" th:text="#{data.flightData}"></title>
    <script th:fragment="script" src=""></script>
</head>
<body>
<div th:fragment="centralniDiv">

        <table id="tableFlights">
        <tr>
            <th th:text="#{data.flightId}"></th>
            <th th:text="#{data.airplane}" id="th_airplane"></th>
            <th th:text="#{data.departures}"></th>
            <th th:text="#{data.destinations}"></th>
            <th th:text="#{data.departureTime}"></th>
            <th th:text="#{data.price}"></th>
            <th th:text="#{data.duration}"></th>
            <th th:text="#{data.discounts}"></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <form id="formSetup" method="post" action="setup">
                <td><input type="text" th:value="${flight!=null}? ${flight.id} : null" name="flightId" th:readonly="${flight != null and flight.id != null}" required/></td>

                <td>
                    <select name="airplaneId" required>
                        <option value="" onclick="" disabled th:text="#{action.defineAirplane}"></option>
                        <option value="" disabled selected></option>
                        <option th:each="airplane: ${airplanes}" th:value="${airplane.id}" th:text="|${airplane.name}, ${airplane.seatRows} * ${airplane.seatColumns}|" th:selected="${flight!=null and flight.airplane.id == airplane.id}"></option>
                    </select>
                </td>
                <td>
                    <select name="airportDeparture" required>
                        <option value="" onclick="" disabled th:text="#{action.defineAirport}"></option>
                        <option value="" disabled selected></option>
                        <option th:each="airport: ${airports}" th:value="${airport.airportCodeName}" th:text="|${airport.airportCodeName}, ${airport.location.city}, ${airport.location.state}, ${airport.location.continent}|" th:selected="${flight != null and flight.airportDeparture.airportCodeName == airport.airportCodeName}"></option>
                    </select>
                </td>
                <td>
                    <select name="airportDestination" required>
                        <option value="" onclick="" disabled th:text="#{action.defineAirport}"></option>
                        <option value="" disabled selected></option>
                        <option th:each="airport: ${airports}" th:value="${airport.airportCodeName}" th:text="|${airport.airportCodeName}, ${airport.location.city}, ${airport.location.state}, ${airport.location.continent}|" th:selected="${flight != null and flight.airportDestination.airportCodeName == airport.airportCodeName}"></option>
                    </select>
                </td>
<!--                <td th:text="${#dates.format(flight.departureTimestamp, 'yyyy-MM-dd HH:mm')}">-->
                <td>
                    <input type="datetime-local" name="departureTimestamp" th:value="${flight!=null}? ${flight.departureTimestamp} : null" required/>
                </td>
                <td>
                    <input type="number" min="1" name="flightTicketPrice" th:value="${flight!=null}? ${flight.flightTicketPrice} : null" required/>
                </td>
                <td>
                    <input type="time" name="flightDurationMinutes" th:value="${flight != null} ? (${#numbers.formatInteger(flight.flightDurationMinutes / 60, 2)} + ':' + ${#numbers.formatInteger(flight.flightDurationMinutes % 60, 2)}) : null" required/>
                </td>
                <td>
                    <select name="discountStandardId">
                        <option value="" onclick="" disabled th:text="#{action.defineDiscount}"></option>
                        <option value="" selected th:text="#{data.noDiscount}"></option>
                        <option th:each="discount: ${discounts}" th:value="${discount.id}" th:text="|${discount.discountCoefficient * 100}% until ${#dates.format(discount.validUntilDate, 'yyyy-MM-dd HH:mm')}|" th:selected="${flight != null and flight.discountStandard != null and flight.discountStandard.id == discount.id}"></option>
                    </select>
                </td>
                <td>

                        <input type="submit" th:value="#{action.save}"/>

                </td>
            </form>
                <td th:if="${flight != null}">
                    <form id="formCancel" method="get" action="cancel">
                        <input type="text" th:value="${flight!=null}? ${flight.id} : null" name="flightId" style="display:none;"/>
                        <input type="submit" th:value="#{action.cancelFlight}"/>
                    </form>
                </td>

                <td th:if="${flight != null}">
                    <form id="formDelete" method="post" action="delete">
                        <input type="text" th:value="${flight!=null}? ${flight.id} : null" name="flightId" style="display:none;"/>
                        <input type="submit" th:value="#{action.delete}"/>
                    </form>
                </td>

            </tr>
        </table>

<!--    TODO -->
    <div th:replace="~{fragments/airplanes.html :: layout(~{::title},~{::link},~{::script})}"></div>
    <div th:replace="~{fragments/discounts.html :: layout(~{::title},~{::link},~{::script})}"></div>
<!--    <div th:replace="~{fragments/airports.html :: layout(~{::title},~{::link},~{::script})}"></div>-->
    <div th:replace="~{fragments/airports.html :: (~{::allLocations})}"></div>
<!--    <div th:replace="~{fragments/airports.html :: (${allLocations})}"></div>-->

</div>
</body>
</html>